.App {
  text-align: center;
  color: cadetblue;
}

.increment {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.decrement {
  background-color: rgb(44, 44, 202);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
